@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400&family=JetBrains+Mono:wght@400;500;600&family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --surface: #f7faf6;
    --surface-dim: #d8dbd7;
    --surface-bright: #f7faf6;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f1f4f1;
    --surface-container: #ecefeb;
    --surface-container-high: #e6e9e5;
    --surface-container-highest: #e0e3e0;
    --on-surface: #181c1a;
    --on-surface-variant: #414849;
    --outline: #727879;
    --outline-variant: #c1c8c8;
    --primary: #072427;
    --on-primary: #ffffff;
    --primary-container: #1f3a3d;
    --on-primary-container: #88a4a7;
    --secondary: #39684a;
    --on-secondary: #ffffff;
    --secondary-container: #bbefc9;
    --on-secondary-container: #3f6e50;
    --tertiary: #470700;
    --tertiary-container: #6a1606;
    --on-tertiary-container: #f47c62;
    --error: #ba1a1a;
    --error-container: #ffdad6;
    --on-error-container: #93000a;

    --font-serif: 'Noto Serif', serif;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: var(--surface);
    color: var(--on-surface);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }

  code, pre, .font-mono {
    font-family: var(--font-mono);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
